<!DOCTYPE html>
<html lang="en">
<head>
<title>Brewery</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
<script type="/text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="/text/javascript" src="js/cufon-yui.js"></script>
<script type="/text/javascript" src="js/cufon-replace.js"></script>
<script type="/text/javascript" src="js/OrigGarmnd_BT_400.font.js"></script>
<script type="/text/javascript" src="js/script.js"></script>
<!--[if lt IE 7]><script type="text/javascript" src="js/ie6_script_other.js"></script><![endif]-->
<!--[if lt IE 9]><script type="text/javascript" src="js/html5.js"></script><![endif]-->
</head>
<body id="page1">
<!-- START PAGE SOURCE -->
{% block layout %}{% endblock %}
<!-- END PAGE SOURCE -->
</body>
</html>

