{% extends "layout.html.twig" %}
{% block content %}
    <div class="inside">
        <div class="indent">
          <h2>Recent Articles</h2>
          <ul class="box-list">
            <li>
              <div class="box">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="border-top"></div>
                  </div>
                </div>
                <div class="xcontent">
                  <div class="border-left">
                    <div class="border-right">
                      <div class="inner">
                        <div class="img-box"><img src="images/icon1.png">
                          <h5>About Template</h5>
                          <p class="p0">Ultrismonterdum sed convallis congue pretra ris interdum hend et estibus nequam. Tristiquatet at lacus augue velit euis volutpat vel facilisis tincidunt tellentum.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="left-bot-corner">
                  <div class="right-bot-corner">
                    <div class="border-bot"><span class="clip-left"></span><span class="clip-right"></span></div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="box">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="border-top"></div>
                  </div>
                </div>
                <div class="xcontent">
                  <div class="border-left">
                    <div class="border-right">
                      <div class="inner">
                        <div class="img-box"><img src="images/icon2.png">
                          <h5>Best Beer</h5>
                          <p class="p0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam aperiam, eaque ipsa quae ab illo inventore verit</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="left-bot-corner">
                  <div class="right-bot-corner">
                    <div class="border-bot"><span class="clip-left"></span><span class="clip-right"></span></div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="box">
                <div class="left-top-corner">
                  <div class="right-top-corner">
                    <div class="border-top"></div>
                  </div>
                </div>
                <div class="xcontent">
                  <div class="border-left">
                    <div class="border-right">
                      <div class="inner">
                        <div class="img-box"><img src="images/icon3.png">
                          <h5>History of Brewery</h5>
                          <p class="p0">Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="left-bot-corner">
                  <div class="right-bot-corner">
                    <div class="border-bot"></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
{% endblock %}